<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard Fragment</title>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        /* Responsive container */
        .pie-chart-item {
            width: 100%;
            max-width: 500px; /* Limit max width */
            margin: 0 auto; /* Center horizontally */
        }

        /* Adjust font size for smaller screens */
        @media (max-width: 600px) {
            .pie-chart-item svg text {
                font-size: 10px;
            }
        }

        /* Adjust No Data block styles */
        .no-data-message {
            font-size: 14px; /* Smaller font size on small screens */
    }
    </style>
</head>

<body th:fragment="serverTextStat(title, hxGet)">

    <div th:attr="hx-get=@{${hxGet}}" hx-trigger="load">

        <div class="bg-white p-6 rounded-lg shadow-md">
            <dt class="truncate text-sm font-medium text-gray-500" th:text="${tenantId}">Widget Title</dt>

            <dt class="text font-semibold mb-2">Total Submissions</dt>
            <dd th:id="'totalSubmissionsP-' + ${tenantId}"
                class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" th:text="${totalSubmissions}">0</dd>

            <dt class="text font-semibold mb-2">Pending Submissions</dt>
            <dd th:id="'pendingSubmissionsP-' + ${tenantId}"
                class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" th:text="${pendingSubmissions}">0</dd>

            <dt class="text font-semibold mb-2">Accepted Submissions</dt>
            <dd th:id="'acceptedSubmissionsP-' + ${tenantId}"
                class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" th:text="${acceptedSubmissions}">0</dd>

            <dt class="text font-semibold mb-2">Rejected Submissions</dt>
            <dd th:id="'rejectedSubmissionsP-' + ${tenantId}"
                class="mt-1 text-3xl font-semibold tracking-tight text-gray-900" th:text="${rejectedSubmissions}">0</dd>

            <dt class="text font-semibold mb-2">Rejection Rate</dt>
            <dd th:id="'rejectionRateP-' + ${tenantId}"
                class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">
                <span th:text="${rejectionRate}">0</span>
                <span class="text-sm font-normal">%</span>
            </dd>

        </div>
        <div class="mt-3 w-full">
            <pre class="bg-white p-4 rounded-lg shadow-md">
                <dt class="truncate text-sm font-bold text-gray-500" th:text="${tenantId}">Widget Title</dt>
                <dl th:id="'pie-chart-' + ${tenantId}" class=" pie-chart-item  flex justify-center items-center">
                </dl>
            </pre>
        </div>

    </div>

    <script th:inline="javascript">
        function call(tId) {
            tId = tId.replace(/^"|"$/g, '');

            // Retrieve the Thymeleaf attributes
            const totalSubmissions = parseInt([[${ totalSubmissions }]] || 0);
            const pendingSubmissions = parseInt([[${ pendingSubmissions }]] || 0);
            const acceptedSubmissions = parseInt([[${ acceptedSubmissions }]] || 0);
            const rejectedSubmissions = parseInt([[${ rejectedSubmissions }]] || 0);
            const chartContainer = document.getElementById(`pie-chart-${tId}`);

            // Check if all the values are greater than zero
            if (totalSubmissions > 0 || pendingSubmissions > 0 || acceptedSubmissions > 0 || rejectedSubmissions > 0) {
                chartContainer.style.display = 'block';
                const pieChartData = [
                    {
                        count: pendingSubmissions,
                        label: "Pending Submissions"
                    },
                    {
                        count: acceptedSubmissions,
                        label: "Accepted Submissions"
                    },
                    {
                        count: rejectedSubmissions,
                        label: "Rejected Submissions"
                    }
                ];

                createPieChart(pieChartData, tId);
            } else {
                chartContainer.style.display = 'flex';
                chartContainer.style.justifyContent = 'center';
                chartContainer.style.alignItems = 'center';
                chartContainer.style.height = '100%';
                chartContainer.style.minHeight = '445px';

                chartContainer.innerHTML = `<p class="no-data-message" style="font-weight: bold; color: #666; text-align: center;">No Data</p>`;
            }
        }

        call('[[${tenantId}]]');

        function createPieChart(interactions, tId) {
            const container = document.querySelector(`#pie-chart-${tId}`);
            const containerWidth = container.clientWidth;
            const width = containerWidth;
            const height = containerWidth;
            const radius = Math.min(width, height) / 2;

            const color = d3.scaleOrdinal()
                .domain(interactions.map(d => d.label))
                .range(["#FE6D18", "#2CA02C", "#FF0000"]);

            const pie = d3.pie()
                .value(d => d.count);

            const arc = d3.arc()
                .innerRadius(0)
                .outerRadius(radius);

            const svg = d3.select(`#pie-chart-${tId}`)
                .append("svg")
                .attr("width", "100%")
                .attr("height", "100%")
                .attr("viewBox", `0 0 ${width} ${height + 100}`)
                .append("g")
                .attr("transform", `translate(${width / 2}, ${height / 2})`);

            svg.selectAll("path")
                .data(pie(interactions))
                .enter().append("path")
                .attr("fill", d => color(d.data.label))
                .attr("d", arc)
                .append("title")
                .text(d => `${d.data.label}: ${d.data.count}`);

            const legend = svg.append("g")
                .attr("transform", `translate(${-(width / 4)}, ${radius + 40})`);

            const legendRectSize = 12;
            const legendSpacing = 4;

            const legendItems = legend.selectAll('.legend-item')
                .data(interactions)
                .enter()
                .append('g')
                .attr('class', 'legend-item')
                .attr('transform', (d, i) => `translate(0, ${i * (legendRectSize + legendSpacing)})`);

            legendItems.append('rect')
                .attr('width', legendRectSize)
                .attr('height', legendRectSize)
                .attr('fill', d => color(d.label))
                .attr('stroke', d => color(d.label));

            legendItems.append('text')
                .attr('x', legendRectSize + legendSpacing)
                .attr('y', legendRectSize - legendSpacing)
                .style('font-size', '12px')
                .style('font-family', 'sans-serif')
                .text(d => d.label);
        }
    </script>
</body>

</html>
